{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{% static 'global/css/main.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=manage_accounts" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambielle - {{ title }}</title>
</head>

<body>
    {% if messages %}
    
      {% for message in messages %}
        <div id="message-popup" class="message {{message.tags}}">
            <span>{{ message }}</span>
      {% endfor %}
      <div class="progress-bar" id="progress-bar"></div>
    </div>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var progressBar = document.getElementById('progress-bar');
            var messagePopup = document.getElementById('message-popup');

            if (messagePopup) {
                setTimeout(function () {
                    progressBar.style.width = '100%';
                }, 100);

                setTimeout(function () {
                    messagePopup.style.opacity = '0';
                    setTimeout(function () {
                        messagePopup.remove();
                    }, 400);
                }, 3000);
            }
        });

    </script>