{% extends 'global/base.html' %}

{% block content %}
  <div class="lista">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Projetos</th>
          <th>Contato</th>
          <th>Email</th>
          <th>#</th>
        </tr>
      </thead>
        {% for cliente in clientes %}
          <tr>
            <td style="text-align: center;">{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td style="text-align: center;">3</td>
            <td>{{ cliente.contato_principal }}</td>
            <td>{{ cliente.email }}</td>
            <td style="text-align: center; vertical-align: middle;">
              <a href="{% url "workflow:deleteCliente" cliente.id %}"><i class="fa-regular fa-trash-can" style="width: 20px; height: 20px; text-decoration: none; color: var(--secondary-color);"></i></a>
              <a href="{% url "workflow:updateCliente" cliente.id %}"><i class="fa-regular fa-pen-to-square" style="width: 20px; height: 20px; text-decoration: none; color: var(--secondary-color);"></i></a>
            </td>
          </tr>
        {% endfor %}
        
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="tfoot-cell">
            <div class="pagination">
              <a href="#">&laquo;</a>
              <a href="#">1</a>
              <a href="#">/</a>
              <a href="#">5</a>
              <a href="#">&raquo;</a>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
