{% extends 'global/base.html' %}

{% block content %}
  <div class="lista">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Projetos</th>
          <th>Contato</th>
          <th>Email</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">666</td>
          <td>Pooltecnica Quimica</td>
          <td style="text-align: center;">8</td>
          <td>(44) 99115-5164</td>
          <td>gabriel@pooltecnica.com.br</td>
          <td style="text-align: center; vertical-align: middle;">
            <a href="#"><i class="fa-regular fa-trash-can" style="width: 20px; height: 20px; text-decoration: none; color: var(--secondary-color);"></i></a>
            <a href="#"><i class="fa-regular fa-pen-to-square" style="width: 20px; height: 20px; text-decoration: none; color: var(--secondary-color);"></i></a>
          </td>
        </tr>
        {% for cliente in clientes %}
          <tr>
            <td style="text-align: center;">{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td style="text-align: center;">3</td>
            <td>{{ cliente.contato_principal }}</td>
            <td>{{ cliente.email }}</td>
            <td style="text-align: center; vertical-align: middle;">
              <a href="#"><i class="fa-regular fa-trash-can" style="width: 20px; height: 20px; text-decoration: none; color: var(--secondary-color);"></i></a>
              <a href="#"><i class="fa-regular fa-pen-to-square" style="width: 20px; height: 20px; text-decoration: none; color: var(--secondary-color);"></i></a>
            </td>
          </tr>
        {% endfor %}
        <!-- Aqui entraria seu loop para repetir as linhas -->
      </tbody>
    </table>
  </div>
{% endblock %}
