{% extends 'global/base.html' %}

{% block content %}
  <div class="saudacao">
    <h1>Olá, <strong>Gisele!</strong></h1>
    <span>Veja o que temos à fazer:</span>
  </div>


<div class="container">
  <div class="card">
    <h2>Tarefas Ativas <span class="dot yellow"></span></h2>
    <div class="progress-info">
      <span class="numberof">7/15</span>
      <span class="percent">80%</span>
    </div>
    <div class="progress-bar yellow"></div>
  </div>

  <div class="card">
    <h2>Regulatório <span class="dot blue"></span></h2>
    <div class="progress-info">
      <span class="numberof">10/31</span>
      <span class="percent">80%</span>
    </div>
    <div class="progress-bar blue"></div>
  </div>

  <div class="card">
    <h2>Qualidade <span class="dot green"></span></h2>
    <div class="progress-info">
      <span class="numberof">24/41</span>
      <span class="percent">80%</span>
    </div>
    <div class="progress-bar green"></div>
  </div>

  <div class="card">
    <h2>Capacitação <span class="dot red"></span></h2>
    <div class="progress-info">
      <span class="numberof">1/5</span>
      <span class="percent">80%</span>
    </div>
    <div class="progress-bar red"></div>
  </div>
</div>
<div class="demand-container">
  <div class="prox-demanda">
    <div class="principal">
      <h2>Próximas demandas:</h2>
      <p>Próximos 20 dias</p>
    </div>

    <a href="#">Ver todas demandas</a>
  </div>


  <div class="demand-cards-wrapper">
    <div class="demand-cards-status">
      <div class="status">
        <h3>Execução <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <circle cx="9" cy="9" r="8.5" fill="#32CD32" stroke="black" />
          </svg>
        </h3>
      </div>
      <div class="demand-card">
        {% for demanda in demandas_execucao %}
        <p><strong>{{ demanda.cliente|upper }} - </strong>{{ demanda.tipo_servico }}  -
          <strong>{{ demanda.prazo_final|date:"d/m" }}</strong></p>
        {% empty %}
        <p>Nenhuma demanda em Execução.</p>
        {% endfor %}
      </div>
    </div>

    <!-- Aprovação -->
    <div class="demand-cards-status">
      <div class="status">
        <h3>Aprovação <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
            <circle cx="9" cy="9.04138" r="8.5" fill="#FF8C00" stroke="black" />
          </svg></h3>
      </div>
      <div class="demand-card">
        {% for demanda in demandas_aprovacao %}
        <p><strong>{{ demanda.cliente|upper }} - </strong>{{ demanda.tipo_servico }} -
          <strong>{{ demanda.prazo_final|date:"d/m" }}</strong></p>
        {% empty %}
        <p>Nenhuma demanda em Aprovação.</p>
        {% endfor %}
      </div>
    </div>

    <!-- Coleta -->
    <div class="demand-cards-status">
      <div class="status">
        <h3>Coleta <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <circle cx="9" cy="9" r="8.5" fill="#00BFFF" stroke="black" />
          </svg>
        </h3>
      </div>
      <div class="demand-card">
        {% for demanda in demandas_coleta %}
        <p><strong>{{ demanda.cliente|upper }} - </strong>{{ demanda.tipo_servico }} -
          <strong>{{ demanda.prazo_final|date:"d/m" }}</strong></p>
        {% empty %}
        <p>Nenhuma demanda em Coleta.</p>
        {% endfor %}
      </div>
    </div>

        <!-- Iniciado -->
      <div class="demand-cards-status">
        <div class="status">
            <h3>Iniciado <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="8.5" fill="#FFD700" stroke="black"/>
                </svg></h3>
        </div>
        <div class="demand-card">
            {% for demanda in demandas_iniciado %}
            <p><strong>{{ demanda.cliente|upper }} - </strong>{{ demanda.tipo_servico }} - <strong>{{ demanda.prazo_final|date:"d/m" }}</strong></p>
            {% empty %}
            <p>Nenhuma demanda Iniciada.</p>
            {% endfor %}
        </div>
      </div>
  </div>
</div>
{% endblock %}