{% extends 'global/base.html' %}

{% block content %}

<div class="containerForm">
    <div class="tela-form">
      <div class="title-form">
        <h1>Registrar Usuários - Formulário Oculto</h1>
      </div>
      <form action=" {% url 'workflow:register' %}" method="POST">
        {% csrf_token %}

          <div class="form">
              {% for field in form %}
                <div class="form-label">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}
                      <p class="help">{{ field.help_text }}</p>
                    {% endif %}
                </div>
              {% endfor %}
          </div>
          <div class="btn">
            <button class="btn-form" type="submit">SALVAR</button>
          </div>
        </div>
      </form>
    </div>

 
</div>
{% endblock %}
