{% extends 'global/base.html' %}

{% block content %}
<!-- Botão para abrir o modal -->

  <style> 
    .modal{
        display: none;
    }
  </style>
  <button class="open-modal-btn">Filtrar Atividades</button>

  <div id="filterModal" class="modal">
    <div class="modal-content">
        
        <!-- Formulário -->
        <div class="containerForm">
            <div class="tela-form atividade">
              <span class="close-modal">&times;</span>
                <div class="title-form">
                    <h1>Atividades Realizadas por Cliente:</h1>
                </div>
                <form id="filterForm" action="{% url 'workflow:get_tarefas_filtradas' %}" method="GET" enctype="multipart/form-data">
                    <div class="form">
                        <!-- Filtro por Cliente -->
                        <div class="form-label">
                            <label for="cliente">Cliente:</label>
                              <select id="cliente" name="cliente" class="form-control">
                                <option value="todos" {% if cliente_selecionado == "todos" %}selected{% endif %}>Todos os Clientes</option>
                                {% for cliente in clientes %}
                                <option value="{{ cliente.id }}" {% if cliente.id|stringformat:"s" == cliente_selecionado %}selected{% endif %}>
                                    {{ cliente.nome }}
                                </option>
                                {% endfor %}
                              </select>
                        </div>

                        <!-- Filtro por Data -->
                        <div class="form-label">
                            <label for="data_inicial">Data Inicial:</label>
                            <input type="date" id="data_inicial" name="data_inicial" class="form-control" value="{{ data_inicial|default_if_none:'' }}">

                            <label for="data_final">Data Final:</label>
                            <input type="date" id="data_final" name="data_final" class="form-control" value="{{ data_final|default_if_none:'' }}">
                        </div>

                        <!-- Filtro por Status -->
                        <div class="filter-group checkbox-group">
                            <h3>Status</h3>
                            <div class="checkbox-item">
                                <label>
                                    <input type="checkbox" id="selectAllStatus" name="status" value="todos"
                                        {% if 'todos' in status_selecionados %}checked{% endif %}>
                                    Todos
                                </label>
                            </div>
                            {% for status, label in status_choices %}
                            <div class="checkbox-item">
                                <label>
                                    <input type="checkbox" name="status" value="{{ status }}"
                                        {% if status in status_selecionados %}checked{% endif %}>
                                    {{ label }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Botões -->
                        <div class="btn">
                            <button type="submit" class="btn-form">Aplicar Filtros</button>
                            <button type="reset" class="btn-form" onclick="window.location.href='{% url 'workflow:get_tarefas_filtradas' %}'">Limpar Filtros</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

  <div class="tasks-section">
    <div class="tasks-row">
      {% if tarefas %}
        {% for task in tarefas %}
        <div class="task-card" style="--status-color: {{ task.status_color }};">
            <div class="task-status-bar"></div>
            <div class="task-content">
                <div class="task-header">
                    <div class="task-dateCli">
                        <h3>{{ task.cliente }}</h3>
                        <span class="date">{{ task.status }}</span>
                    </div>
                    <!-- Botão de edição -->
                    <button class="btn-editar" data-id="{{ task.id }}" data-status="{{ task.status }}">
                        ✏️ Editar
                    </button>
                </div>
                <div class="info">
                    <p><strong>Prazo Final:</strong> <span class="date">{{ task.prazo_final|date:'d/m/y' }}</span></p>
                    {% if task.valor_total_servico %}
                        <p><strong>Valor Serviço:</strong> R${{ task.valor_total_servico }}</p>
                    {% else %}
                        <p>Valor não informado!</p>
                    {% endif %}
                    <p><strong>Serviço:</strong> {{ task.tipo_servico }}</p>
                    {% if task.observacoes %}
                        <p>{{ task.observacoes }}</p>
                    {% else %}
                        <p>Nenhuma Observação cadastrada.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}

        <p>Nenhuma tarefa encontrada. Ajuste os filtros e tente novamente.</p>
      {% endif %}
    </div>
  </div>

    <div id="modal-editar-tarefa" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Editar Status</h2>
          <form id="form-editar-tarefa">
              {% csrf_token %}
              <input type="hidden" name="tarefa_id" id="tarefa-id">
              <label for="status">Status:</label>
              <select name="status" id="status">
                  {% for key, value in task.STATUS_CHOICES %}
                      <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
              </select>
              <button type="submit">Salvar</button>
          </form>
    </div>
</div>
<script>
    document.querySelectorAll(".btn-editar").forEach(button => {
        button.addEventListener("click", function () {
            let tarefaId = this.getAttribute("data-id");
            let statusAtual = this.getAttribute("data-status");

            document.getElementById("tarefa-id").value = tarefaId;
            document.getElementById("status").value = statusAtual;

            modalEditar.style.display = "block"; // Abre o modal de edição
        });
    });

    // Fecha o modal ao clicar no "X"
    closeModal.addEventListener("click", function () {
        modalEditar.style.display = "none";
    });

    // Fecha o modal ao clicar fora dele
    window.addEventListener("click", function (event) {
        if (event.target === modalEditar) {
            modalEditar.style.display = "none";
        }
    });

    // Atualiza o status via AJAX
    form.addEventListener("submit", function (event) {
        event.preventDefault();

        let formData = new FormData(form);
        let tarefaId = formData.get("tarefa_id");

        fetch(`/tarefa/${tarefaId}/alterar-status/`, {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Status atualizado para: " + data.novo_status);

                    // Atualiza a interface sem recarregar
                    document.querySelector(`.btn-editar[data-id='${tarefaId}']`).parentElement.querySelector(".date").innerText = data.novo_status;
                    modalEditar.style.display = "none";
                } else {
                    alert("Erro: " + data.error);
                }
            })
            .catch(error => console.error("Erro:", error));
    });
});

</script>
{% endblock %}
