.saudacao {
    margin-top: 15px;
    position: relative;
    margin-left: 5%;
    width: 100%;
}

.saudacao h1 {
    font-family: var(--primary-font);
    margin: 0;
    font-size: 60px;
}

.saudacao span {
    display: block;
    font-family: var(--secondary-font);
    margin-top: 5px;
    font-size: 22px;
    color: #666;
}

.alertas{
    display: flex;
    flex: 1;
    justify-content: end;
    padding: 25px;
    gap: 20px;
    margin-right: 25px;
    max-height: 180px;
}

.saudacao-container{
    display: flex;
    margin: 0;
}
.cardHome {
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    width: 150px;
}

.cardHome h2 {
    font-family: var(--secondary-font);
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.yellow {
    background-color: #FFD700;
}

.blue {
    background-color: #1E90FF;
}

.green {
    background-color: #228B22;
}

.orange {
    background-color: #FF4500;
}

.progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #ccc;
}

.progress-bar.yellow {
    background-color: #FFD700;
    width: 80%;
}

.progress-bar.blue {
    background-color: #1E90FF;
    width: 80%;
}

.progress-bar.green {
    background-color: #228B22;
    width: 80%;
}

.progress-bar.red {
    background-color: #FF4500;
    width: 80%;
}

.numberof {
    font-size: 40px;
    font-family: var(--primary-font);
    font-weight: 400;

}

.percent {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: small;
    letter-spacing: 4px;
}


.demand-container h2 {
    font-family: var(--pramary-font);
    font-size: 2em;
}

.demand-container p {
    font-family: var(--secondary-font);
    font-size: 1em;
}

.demand-container a {
    font-family: var(--secondary-font);
    font-size: 1em;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
}

.demand-container a:hover {
    text-decoration: underline;
}

.prox-demanda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:5%;
}

.prox-demanda h2, .prox-demanda p {
    margin: 0;
    padding: 0;
}

.prox-demanda h2{
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}

.prox-demanda a {
    text-decoration: underline;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    margin-right: 220px;
}

.demand-cards-wrapper {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 10px;
    margin-right: 25px;
    justify-content: center;
}

.demand-cards-status {
    flex-direction: column;
    font-family: var(--secondary-font);
    flex: 1 1 0;
    min-height: 15vh;
    min-width: 25rem;
    max-width: 30rem;
    flex-wrap: wrap;
}

.status{
    width: 100%;
    height: 45px;
}

.demand-cards-status h3{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.demand-cards-status svg{
    display: inline;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.demand-cards-status .status{
    display: flex;
    align-items: center;
    justify-content: center;
}

.demand-card {
    background-color: var(--primary-color);
    border: 2px solid #333;
    border-radius: 15px;
    gap: 10px;
    padding: min(2em, 3%);
    font-family: var(--secondary-font);
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35) inset;
}

.demand-card:hover{
    transform: translateY(-5px);
}

.demand-card p {
    font-size: 0.9em;
    margin: 10px 0;
}
/* Status indicators */
.status-green {
    color: #32CD32;
    stroke-width: 1px;
    stroke: #000;
    width: 18px;
    height: 18px;
}

.status-orange {
    color: orange;
}

.status-blue {
    color: blue;
}

.status-yellow {
    color: yellow;
} 


 #popupLicencas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popupContent {
    background: white;
    padding: 20px;
    width: 80vh;
    margin: 10% auto;
}

#fecharPopup {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

#alertCard{
    cursor: pointer;
}

#tabelaLicencas {
    width: 100%;
    margin-top: 10px;
}
#tabelaLicencas th, #tabelaLicencas td {
    padding: 8px;
    text-align: center;
}