.saudacao {
    margin-top: 15px;
    position: relative;
    margin-left: 5%;
    width: 50%;
}

.saudacao h1 {
    font-family: var(--primary-font);
    margin: 0;
    font-size: 60px;
}

.saudacao span {
    display: block;
    font-family: var(--secondary-font);
    margin-top: 5px;
    font-size: 22px;
    color: #666;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--secondary-font);
    column-gap: 40px;
    margin-right: 6%;
}

.card {
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35) inset;

}

h2 {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.yellow {
    background-color: #FFD700;
}

.blue {
    background-color: #1E90FF;
}

.green {
    background-color: #228B22;
}

.red {
    background-color: #FF4500;
}

.progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #ccc;
}

.progress-bar.yellow {
    background-color: #FFD700;
    width: 80%;
}

.progress-bar.blue {
    background-color: #1E90FF;
    width: 80%;
}

.progress-bar.green {
    background-color: #228B22;
    width: 80%;
}

.progress-bar.red {
    background-color: #FF4500;
    width: 80%;
}

.numberof {
    font-size: 40px;
    font-family: var(--primary-font);
    font-weight: 400;

}

.percent {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: small;
    letter-spacing: 4px;
}


.demand-container h2 {
    font-family: var(--pramary-font);
    font-size: 2em;
}

.demand-container p {
    font-family: var(--secondary-font);
    font-size: 1em;
}

.demand-container a {
    font-family: var(--secondary-font);
    font-size: 1em;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
}

.demand-container a:hover {
    text-decoration: underline;
}

.prox-demanda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:5%;
}

.prox-demanda h2, .prox-demanda p {
    margin: 0;
    padding: 0;
}

.prox-demanda h2{
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}

.prox-demanda a {
    text-decoration: underline;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    margin-right: 220px;
}

.demand-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    margin-left: 5%;
}

.demand-cards-status {
    flex-direction: column;
    font-family: var(--secondary-font);
}

.status{
    width: 100%;
    height: 45px;
}

.demand-cards-status h3{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.demand-cards-status svg{
    display: inline;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.demand-cards-status .status{
    display: flex;
    align-items: center;
    justify-content: center;
}

.demand-card {
    background-color: var(--primary-color);
    border: 2px solid #333;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    height: 286px;
    font-family: var(--secondary-font);
    transition: all 0.3s ease; /* Transição suave para o hover */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35) inset;
    max-width: 250rem;
}

.demand-card:hover{
    transform: translateY(-5px);
}

.demand-card h3 {
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demand-card p {
    font-size: 0.9em;
    margin: 10px 0;
}
/* Status indicators */
.status-green {
    color: #32CD32;
    stroke-width: 1px;
    stroke: #000;
    width: 18px;
    height: 18px;
}

.status-orange {
    color: orange;
}

.status-blue {
    color: blue;
}

.status-yellow {
    color: yellow;
} 

.saudacao-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Garante que ocupa toda a largura */
    gap: 50px; /* Dá espaço entre o texto e os cards */
}

.saudacao {
    flex: 2; /* Faz o texto ocupar o espaço disponível */
}

.container {
    display: flex;
    gap: 30px; /* Espaço entre os cards */
}



/* Estilo responsivo */
@media (max-width: 1150px) {
    .demand-cards-wrapper {
        justify-content: center;
        background-color: #228B22;/* Mantém os cards centralizados */
    }
    
    .demand-card {
        width: 80%;
        min-width: 30rem; 

    }
}

/* Se a tela for menor que 768px, exibe 1 card por linha */
@media (max-width: 768px) {
    .demand-cards-wrapper {
        flex-direction: column; /* Os cards agora empilham verticalmente */
        align-items: center;
        min-width: 30rem; 
    }
    
    .demand-card {
        width: 90%; /* Mantém os cards responsivos */
    }
}

