#sidebarOffcanvas{
    width: 250px;
    align-items: baseline;
}

.offcanvas-body ul{
    align-items: baseline;
    width: 100%;
    margin-left: 10px;
}

.dropdown-menu .dropdown-menu-dark .show{
    align-items: baseline;
    width: 230px;
}
.dropdown-item:focus, .dropdown-item:hover{
    width: 150px;
}