.tela-task {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerTasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.headerTasks h1 {
    justify-content: baseline;
    margin: 5;
    font-family: var(--secondary-font);
}

.btn-filter {
    background-color: var(--primary-color);
    color: white;
    margin-top: 15px;
    width: 300px;
    border: none;
    cursor: pointer;
    border: 3px solid #000;
    border-radius: 10px;
    font-family: var(--secondary-font);
    font-size: 24px;
}

.buttons-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.headerTasks span{
    font-family: var(--secondary-font);
    display: block;
    font-size: 12px;
    color: gray;
    margin-top: 3px;    
}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    flex-direction: column;
}

.filter-content {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}


.filter-group label {
    width: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.modal {
    border-radius: 10px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    font-family: var(--secondary-font);
    background-color: aliceblue;
    margin: 8% auto;
    padding: 25px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.btn-filter-all {
    background-color: var(--primary-color);
    color: white;
    margin-top: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    border: 3px solid #000;
    border-radius: 10px;
    font-family: var(--secondary-font);
    font-size: 24px;
}

.applied-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-chip a.remove-filter {
    color: white;
    text-decoration: none;
    margin-left: 8px;
    font-weight: bold;
}

.tasks-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8%;
}

.tasks-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.task-header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: var(--secondary-color);
}

.task-dateCli {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.task-header h3,
.task-header .date {
    margin: 0;
}

.task-header .status {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 7px;
    width: 30px;
}

.task-card {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    font-family: var(--secondary-font);
}

.task-card .info {
    background-color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.task-card .info p {
    margin: 5px 0;
}

.filters {
    display: flex;
    width: 75%;
    margin-bottom: 10px; 
    align-items: center; 
}

.filters h3 {
    margin-right: 30px;
    font-family: var(--secondary-font);
    font-size: 22px;
    flex-wrap: nowrap;
}

.filtros-selecionados {
    display: flex;
    flex-wrap: wrap; 
    gap: 22px; 
    align-items: center;
    flex-direction: row;
}

.tagFilter {
    color: aliceblue;
    padding: 5px 20px;
    font-family: var(--secondary-font);
    border-radius: 10px;
    margin-top: 30px;
    border: 2.5px solid aliceblue;
    background: var(--secondary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
}

.filtros-selecionados p{
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column; /* Coloca "Filtros >" e os filtros em blocos verticais */
    }
    
    .filtros-selecionados {
        width: 100%; /* Assegura que os filtros ocupem a largura total em telas pequenas */
    }
}