

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #00bcd4;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.filters {
    text-align: center;
    margin-bottom: 20px;
}

.filters button {
    font-family: var(--secondary-font);
    width: 163px;
    height: 44px;
    flex-shrink: 0;
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid #D1D3D4;
    background: #181D21;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.tasks-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8%;
}

.tasks-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tasks-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.task-header {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: var(--secondary-color);
  }

.task-dateCli{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.task-header h3, 
.task-header .date {
  margin: 0; 
}

  
  .task-header .status {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 7px;
    width: 30px; 
  }

.task-card {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    font-family: var(--secondary-font);
}

.task-card .info {
    background-color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.task-card .info p {
    margin: 5px 0;
}