:root {

    /* Imports */
    @import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    --primary-color: #6fddd8;
    --secondary-color: #181D21;
    --hover-sidebar: #3e4246;
    --background-color: #D1D2D4;
    --color-alt-list: #98f8f3;
    --padding: 16px;

    /* Fontes */
    --primary-font: 'Cabin Condensed', sans-serif;
    --secondary-font: 'Roboto Mono', sans-serif;
}

body {
    /* Remove a margem padrão ao redor da página */
    margin: 0;
    /* Adiciona um preenchimento de 20 pixels ao redor do conteúdo */
    padding: 20px;
    /* Usa o modelo de layout flexível para organizar o conteúdo */
    display: flex;

    /* Garante que a altura mínima da página seja 100% da altura da janela */
    min-height: 100vh;
}

main {
    /* Permite que o conteúdo principal cresça para ocupar o espaço disponível */
    flex: 1;
    margin-top: 2%;
    /* Usa o modelo de layout Flexbox para o conteúdo principal */
    display: flex;
    /* Centraliza os itens no eixo transversal (vertical) */
    margin-left: 0;
    flex-direction: column;
    /* Define a largura do conteúdo principal para ocupar 100% da largura da página */
    width: 100%;
}

section {
    width: 100%;
    padding: 20px 0;
}

.message {
    font-family: var(--secondary-font);
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#progress-bar {
    width: 0%;
    height: 5px;
    background-color: #fff;
    margin-top: 10px;
    transition: width 3s linear;
    /* Duração de 5 segundos */
}

.message.success {
    background-color: rgba(6, 154, 6, 0.9);
}

.message.error {
    background-color: rgba(189, 10, 10, 0.9);
}

.message.warning {
    background-color: rgba(186, 164, 2, 0.9);
}

.message.info {
    background-color: rgba(12, 12, 222, 0.9);
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteúdo do modal */
.modal-content {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 700px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Botão de fechar */
.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.errorlist{
    list-style: none;
    font-family: var(--secondary-font);
    font-size: small;
    background-color: tomato;
    color: black;
    display: flex;
    align-items: center;
    width: 40%;
}