:root {

    /* Imports */
    @import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    --primary-color: #5AB6B1;
    --secondary-color: #181D21;
    --background-color: #D1D2D4;
    --padding: 16px;

    /* Fontes */
    --primary-font: 'Cabin Condensed', sans-serif;
    --secondary-font: 'Roboto Mono', sans-serif;
 }