:root {

    /* Imports */
    @import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    --primary-color: #6fddd8;
    --secondary-color: #181D21;
    --background-color: #D1D2D4;
    --color-alt-list: #98f8f3;
    --padding: 16px;

    /* Fontes */
    --primary-font: 'Cabin Condensed', sans-serif;
    --secondary-font: 'Roboto Mono', sans-serif;
 }

 body {
    background-color: var(--background-color);
}

.message {
    font-family: var(--secondary-font);
    color: white;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#progress-bar {
    width: 0%;
    height: 5px;
    background-color: #fff;
    margin-top: 10px;
    transition: width 3s linear; /* Duração de 5 segundos */
}

.message.success {
    background-color: rgba(6, 154, 6, 0.9);
}

.message.error {
    background-color: rgba(189, 10, 10, 0.9);
}

.message.warning {
    background-color: rgba(186, 164, 2, 0.9);
}

.message.info {
    background-color: rgba(12, 12, 222, 0.9);
}